*.iml
.gradle
/local.properties
/.idea
/.idea
/.idea
/.idea
/.idea
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.so
*.aab
app/release
# NDK and build artifacts
.cxx/
.externalNativeBuild/
build/
*.so
*.o
*.obj
~/Library/*